.u-controlbar {
  font-family: var(--body-font);
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
  font-weight: initial;
  font-variation-settings: var(--type-ramp-base-font-variations);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.u-start-section,
.u-center-section,
.u-end-section {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.u-start-section > *,
.u-center-section > *,
.u-end-section > * {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}

.u-controlbar[u-orientation="vertical"] {
  flex-direction: column;
}

.u-start-section:empty,
.u-center-section:empty,
.u-end-section:empty {
  display: none;
}

.u-controlbar .u-select::part(label),
.u-controlbar .u-text-field::part(label),
.u-controlbar .u-number-field::part(label),
.u-controlbar .u-text-area::part(label) {
  white-space: nowrap;
}

.u-controlbar .u-overflow-container {
  position: relative;
}

.u-controlbar .u-overflow-menu {
  position: absolute;
  width: max-content;
  top: 100%;
  right: 0;
  z-index: 100;
}

[dir="rtl"] .u-controlbar .u-overflow-menu{
  right: unset;
  left: 0;
}

.u-controlbar .u-controlbar-item.u-overflown-item {
  display: none;
}

.u-controlbar .u-menu-item {
  white-space: normal;
  height: auto;
  padding: 5px calc((10 + (var(--design-unit) * 2 * var(--density))) * 1px);
  display: flex;
  cursor: pointer;
}

.u-controlbar .u-menu-item::part(content){
  display: flex;
}

.u-controlbar .u-menu-item .u-prefix {
  margin-inline-end: 11px;
}

.u-controlbar .u-menu-item .u-suffix {
  margin-inline-start: 11px;
}

.u-controlbar .u-menu-item[hidden] {
  display: none;
}

.u-controlbar .u-menu-item.u-not-supported,
.u-controlbar .u-menu-item.u-invalid {
  cursor: default;
  color: #d83b01;
}
