.u-listbox {
  vertical-align: bottom;
}

.u-listbox.empty {
  padding: 15px 100px;
}

/* For setting the disabled styles */
.u-listbox[disabled] {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}

.u-listbox[disabled] fluent-option {
  cursor: not-allowed;
  pointer-events: none;
}

.u-listbox[readonly="true"] {
  cursor: not-allowed;
}
.u-listbox[readonly="true"] fluent-option {
  cursor: not-allowed;
  pointer-events: none;
}

/* Styling for when display-format is valrep */
.u-listbox .u-value {
  color: var(--neutral-base-color);
  font-style: italic;
  margin-inline-start: calc((var(--design-unit) * 3px) + 2px);
}

/* Styling the valrep value to enclose it within parentheses. */
.u-listbox .u-value::before {
  content: "(";
}

.u-listbox .u-value::after {
  content: ")";
}
