.u-controlbar {
  font-family: var(--body-font);
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
  font-weight: initial;
  font-variation-settings: var(--type-ramp-base-font-variations);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  overflow-x: auto;
}

div:has(> .u-controlbar) {
  position: relative;
}

.u-controlbar[hidden] {
  display: none;
}

.u-controlbar .u-start-section,
.u-controlbar .u-center-section,
.u-controlbar .u-end-section {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.u-controlbar .u-start-section > *,
.u-controlbar .u-center-section > *,
.u-controlbar .u-end-section > * {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}

.u-controlbar[u-orientation="vertical"] {
  flex-direction: column;
  gap: 8px;
}

/* Max-width is required in vertical orientation to prevent widgets from being cut off when horizontal scrollbar is applied. */
.u-controlbar[u-orientation="vertical"] .u-start-section,
.u-controlbar[u-orientation="vertical"] .u-center-section,
.u-controlbar[u-orientation="vertical"] .u-end-section {
  max-width: 100%;
}

.u-controlbar .u-select::part(label),
.u-controlbar .u-text-field::part(label),
.u-controlbar .u-number-field::part(label),
.u-controlbar .u-text-area::part(label) {
  white-space: nowrap;
}

.u-controlbar .u-controlbar-item {
  flex-shrink: 0;
}

.u-controlbar .u-controlbar-item.u-overflown-item {
  display: none;
}