body {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

.u-workbench {
  display: flex;
  row-gap: 15px;
  height: calc(100vh - 3em);
  margin: 1em;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  /* align-content: center; */
}

.u-preview {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 8px;
  flex-direction: column;
  max-width: 80em;
  align-self: center;
}

.u-title {
  margin: auto;
}

.u-fast-controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  align-items: start;
}

.u-fast-control {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.u-background-color {
  background-color: aquamarine;
}

.u-grid-layout div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.u-flex-layout div {
  display: flex;
  flex-direction: column
}

.u-card-layout div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 16px;
}

.u-workbench fluent-tabs {
  overflow-x: auto;
}

.u-workbench fluent-tabs::part(tabpanel) {
  padding: 10px 0;
  overflow-y: auto;
  border-top: solid 2px;
}

.u-workbench fluent-tabs::part(activeIndicator) {
  width: 80%;
}

