.u-toolbar {
  width: 100%;
  column-gap: calc((var(--toolbar-item-gap) * 2) + 2px);
}

.u-toolbar::part(positioning-region) {
  justify-content: space-between;
}

.u-toolbar::part(end) {
  margin-inline-start: unset;
}

.u-toolbar::part(start),
.u-toolbar::part(end) {
  column-gap: calc(var(--toolbar-item-gap) * 2);
}